body{
    background-color: #DA0037 ;
}
h1{
    background-color: #444444;
    border: 5px solid #171717;
    border-radius:  25px;
    padding: 5px 5px 5px 15px;
    margin: 5px 5px 10px 5px;
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: #171717
}
#Container
{
    background-color: #444444;
    border: 5px solid #171717;
    border-radius:  25px;
    padding: 5px 5px 5px 15px;
    margin: 10px 5px 5px 5px;
    color: #EDEDED
}
h3{
    font-size: 75px;
}
p{
    font-size: 25px;
    padding: 10px;
}
#image_1{
    width: 35%;
    height: 200px;
    float: right;
    border-radius: 15px;
}

#image_2{
    width: 30%;
    height: 200px;
    float: right;
    border-radius: 15px;
}
h2{
    margin-top:100px;
    text-align:center;
    font-size: 40px;
    text-decoration:underline;
}